<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div *ngIf="activeUser" class="btn-group" dropdown [style.float]="'right'">
        <button dropdownToggle id="nav-button" type="button" class="navbar-toggle collapsed dropdown-toggle" aria-controls="collapsed-nav" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul id="collapsed-nav" *dropdownMenu role="menu" aria-labelledby="nav-button" class="dropdown-menu dropdown-menu-right">
          <li><a (click)="logout()">Logout</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Hello {{ activeUser.username }}</li>
        </ul>
      </div>
      <a class="navbar-brand">PocketRN Appointment Scheduler</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul *ngIf="activeUser" class="nav navbar-nav navbar-right">
        <li dropdown>
          <a href id="basic-link" dropdownToggle (click)="false"
             aria-controls="basic-link-dropdown">Hello {{ activeUser.username }} <span class="caret"></span></a>
          <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="basic-link">
            <li>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- App Content Container -->
<div class="container">
  <!-- Main App Router -->
  <router-outlet></router-outlet>
</div>
